body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home .post img {
  position: absolute;
  top: 20px;
  left: -80px;
  opacity: 0.6;
}

.home .post {
  overflow: hidden;
  padding-left: 80px;
}

.display .pokemon img {
  grid-column-start: 2;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 8;
  justify-self: start;
  width: 200px;
}

.display .pokemon {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: 0px 0px ;
}

.display .pokemon h4 {
  grid-column: 1 / span 2;
  grid-row: first-line / 1;
}

.display .pokemon p {
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 3;
  grid-row-end: 8;
  justify-self: end;
}